@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Audi";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Gran Auto Rentals | @ViewBag.Title</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation Bar-->
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">GRAN Auto Rentals</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Companies", "Cars")">Companies</a></li>
                                <li class="breadcrumb-item active">Audi</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Audi</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/rs6-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Audi</a></h4>
                            <h4> <span> <a class="text-primary">RS6 Avant</a> </span></h4>

                            <p class="font-15 mt-3">
                                Audi endows the RS6 Avant which generates 591 horsepower and 590 lb-ft of torque.
                                The powerplant combines with a 48-volt mild-hybrid system that's found on other Audi products, such as the A8 luxury sedan and the Q8 crossover.
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbocharged V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 8-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.950kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 180$ per day
                                </h4>
                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/rs7-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Audi</a></h4>
                            <h4> <span> <a class="text-primary">RS7</a> </span></h4>

                            <p class="font-15 mt-3">
                                Audi RS7 Sportback is a wide-bodied, heart-pounding four-door sports car that has got 552 hp and 590 lb-ft of torque.
                                This all-new RS7 represents the mightiest version of the comparably subdued Audi A7.
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbochargerd V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 8-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.920kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 200$ per day
                                </h4>

                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/a8-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Audi</a></h4>
                            <h4> <span> <a class="text-primary">S8 L</a> </span></h4>

                            <p class="font-15 mt-3">
                                Audi takes its flagship A8 luxury sedan and adds a significant amount of power and poise.
                                A stiffer suspension and upgraded brakes improve the big sedan's athleticism.
                                Subtle visual enhancements inside and out include different wheels, bumpers, and special interior trim than the A8.
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbocharged V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 8-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.845kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 250$ per day
                                </h4>

                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>
            <!-- Modal -->

        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- Vendor js -->
    <script src="~/Content/js/vendor.min.js"></script>

    <!-- Modal-Effect -->
    <script src="~/Content/libs/custombox/custombox.min.js"></script>

    <!-- App js -->
    <script src="~/Content/js/app.min.js"></script>

</body>
</html>