@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mercedes-Benz";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Gran Auto Rentals | @ViewBag.Title</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation Bar-->
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">GRAN Auto Rentals</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Companies", "Cars")">Companies</a></li>
                                <li class="breadcrumb-item active">Mercedes-Benz</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Mercedes-Benz</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/c63-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Mercedes-Benz</a></h4>
                            <h4> <span> <a class="text-primary">C63s Coupe</a> </span></h4>

                            <p class="font-15 mt-3">
                                Sportiness combined with emotion and intelligence – the C-Class Coupé facelift offers design and driving pleasure at the highest level.
                                In addition to decided dynamism, the model's central characteristics are above all its sporty and racy design, innovative technologies and trailblazing safety.
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbocharged V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 9-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.858kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 180$ per day
                                </h4>

                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/e63-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Mercedes-Benz</a></h4>
                            <h4> <span> <a class="text-primary">E63</a> </span></h4>

                            <p class="font-15 mt-3">
                                Mercedes-AMG E63 4MATIC+ this engine develops 603 hp and 750 Nm of torque.
                                With such an immense power, the vehicle accelerates to 100 km/h in 3.3 seconds from a standstill and reaches a governed top speed of 250 km/h
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbochargerd V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 8-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 2.050kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 200$ per day
                                </h4>

                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/s63-fata.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">Mercedes-Benz</a></h4>
                            <h4 class="text-muted"> <span> <a class="text-primary">S63</a> </span></h4>

                            <p class="font-15 mt-3">
                                With 603 handcrafted horsepower and torque-vectoring AMG Performance 4MATIC+ all-wheel drive,
                                the S63 AMG might be the most self-assured sedan on the road. Its innovations and appointments make it one of the most reassuring, too.
                                <div class="text-md-center font-15">
                                    Engine: 4.0L twin-turbocharged V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 9-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.995kg.
                                </div>
                                <h4 class="text-md-center text-primary font-15">
                                    Price: 250$ per day
                                </h4>


                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>
            <!-- Modal -->

        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- Vendor js -->
    <script src="~/Content/js/vendor.min.js"></script>

    <!-- Modal-Effect -->
    <script src="~/Content/libs/custombox/custombox.min.js"></script>

    <!-- App js -->
    <script src="~/Content/js/app.min.js"></script>

</body>
</html>