@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Terms and Conditions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Gran Auto Rentals | @ViewBag.Title</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation Bar-->
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <div class="wrapper">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">GRAN Auto Rentals</a></li>
                                <li class="breadcrumb-item active">Terms and Conditions</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Terms and Conditions</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="view-body" style="padding: 20px; font-size: 18px">
                <ol>
                    <li>
                        "CAR RESERVATION"
                        <ul>
                            <li>The full rental amount shall be paid for the reservation of a car</li>
                            <li>Reservation can be made ONLINE on the webpage www.gran.com or at the office of GRAN Auto Rentals (of. 5, 21/A Arborilor Street Chisinau, Courtyard by Marriott)</li>
                        </ul>
                    </li>

                    <li>
                        "RENTAL PAYMENT"
                        <ul>
                            <li>We accept ONLINE payment methods such as PayPal and/or a credit card</li>
                            <li>We also accept cash payments and payments by a credit card (VISA, MasterCard or American Express) at the office of GRAN Auto Rentals</li>
                            <li>The rental payment can be also made by bank transfer</li>
                        </ul>
                    </li>

                    <li>
                        "PLEDGE"
                        <ul>
                            <li>When handing over the car, the client must leave a pledge for the entire lease period</li>
                            <li>The client shall recover his/her pledge when the returning the car and signing the car objections-free acceptance report</li>
                            <li>The pledge may be paid only by a credit card (VISA, MasterCard or American Express)</li>
                        </ul>
                    </li>

                    <li>
                        "REQUIRED DOCUMENTS"
                        <ul>
                            <li>Valid ID card</li>
                            <li>Valid driving license, valid for at least 24 months</li>
                            <li>Valid credit card</li>
                        </ul>
                    </li>

                    <li>
                        "DRIVER'S AGE"
                        <ul>
                            <li>The minimum age of the driver who can rent a car is 20 years old</li>
                            <li>The driver's maximum age is 65 years old</li>
                        </ul>
                    </li>

                    <li>
                        "ADDITIONAL DRIVERS"
                        <ul>
                            <li>Up to 3 additional drivers per contract are accepted</li>
                            <li>Additional drivers have the same rights and obligations as the main driver</li>
                        </ul>
                    </li>

                    <li>
                        "INSURANCE"
                        <ul>
                            <li>All cars are covered by CASCO and RCA (compulsory liability insurance)</li>
                            <li>CASCO insurance provides for a franchise (deductibility) in case of damage, payable by the client</li>
                            <li>In case of damage, the franchise amounts at MDL 20,000 or EUR 1,000</li>
                        </ul>
                    </li>

                    <li>
                        "CROSS BORDER WITH THE RENTED CAR"
                        <ul>
                            <li>The rented cars are intended both, for use on the territory of the Republic of Moldova and in the Member States of the European Union</li>
                            <li>The use of the car outside the territory of the Republic of Moldova and/or the Member States of the European Union is forbidden</li>
                        </ul>
                    </li>

                    <li>
                        "RENTING A CAR WITH A DRIVER"
                        <ul>
                            <li>The services of a personal driver amount at MDL 600 or EUR 30 for 8 hours</li>
                            <li>Overtime exceeding 8 working hours will be charged MDL 100 or EUR 5 per hour</li>
                            <li>The fuel used for renting a car with a driver shall paid separately by the client</li>
                            <li>NO pledge is applied when renting a car with a driver</li>
                        </ul>
                    </li>

                    <li>
                        "MILEAGE"
                        <ul>
                            <li>For one rental day, a maximum of 150 kilometers of mileage is accepted (included in the rental price)</li>
                            <li>For the mileage exceeding 150 kilometers per one rental day, an extra charge of MDL 4 or EUR 0.20 per kilometer shall apply</li>
                        </ul>
                    </li>

                    <li>
                        "PRINCIPLE OF USING THE CAR"
                        <ul>
                            <li>The car will be handed over to the client clean and with full fuel tank</li>
                            <li>The client must return the car in the same condition: clean and with full fuel tank, otherwise, the following penalties will apply:</li>
                            <ul>
                                <li>The car is returned dirty: a penalty of up to MDL 500 or EUR 25</li>
                                <li>
                                    The car is returned with NOT full fuel tank: a penalty of MDL 25 or EUR 1.25 per liter of fuel
                                </li>
                                <li>Delayed car return: a 10% penalty of the daily rental amount for each hour of delay</li>
                                <li>The car is returned with extra mileage: a penalty of MDL 4 or EUR 0.20 per kilometer</li>
                                <li>The car is damaged: a penalty of up to MDL 20,000 or EUR 1,000</li>
                            </ul>
                        </ul>
                    </li>
                </ol>
            </div>







        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- Vendor js -->
    <script src="~/Content/js/vendor.min.js"></script>

    <!-- Modal-Effect -->
    <script src="~/Content/libs/custombox/custombox.min.js"></script>

    <!-- Vendor js -->
    <script src="~/Content/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/Content/js/app.min.js"></script>

</body>
</html>