<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2019 - @DateTime.Now.Year &copy; GRAN Auto Rentals
            </div>

            <div class="col-md-6">
                <div class="text-md-right">
                    <a href="@Url.Action("TermsConditions", "Home")">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>