@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BMW M8";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Gran Auto Rentals | @ViewBag.Title</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Navigation Bar-->
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="wrapper">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">GRAN Auto Rentals</a></li>
                                <li class="breadcrumb-item">Cars</li>
                                <li class="breadcrumb-item active">BMW M8 Coupe Competition</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center card-box ribbon-box">
                        <div class="clearfix"></div>
                        <div class="pt-2 pb-2">
                            <img src="~/Content/images/carsTW/m8-fata.jpg" class="img-thumbnail">
                            <img src="~/Content/images/carsTW/m8-spate.jpg" class="img-thumbnail">

                            <h4 class="mt-3 font-17"><a class="text-muted">BMW</a></h4>
                            <h4> <span> <a class="text-primary">M8 Coupe Competition</a> </span></h4>

                            <p class="font-15 mt-3">
                                BMW's most powerful production engine.
                                Filled to the brim with exhilarating potential.
                                The M8 Competition Coupe's 4.4-liter V8 delivers 617 hp and a searing 0-100km/h time of 3.0 seconds.
                                <div class="text-md-center font-15">
                                    Engine: 4.4L twin-turbochargerd V8.
                                </div>
                                <div class="text-md-center font-15">
                                    Transmission: 8-speed automatic.
                                </div>
                                <div class="text-md-center font-15">
                                    Weight: 1.885kg.
                                </div>

                            </p>


                        </div> <!-- end .padding -->
                    </div> <!-- end card-box-->
                </div> <!-- end col -->


            </div>
            <!-- end row -->
            <!-- Modal -->

        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- Vendor js -->
    <script src="~/Content/js/vendor.min.js"></script>

    <!-- Modal-Effect -->
    <script src="~/Content/libs/custombox/custombox.min.js"></script>

    <!-- App js -->
    <script src="~/Content/js/app.min.js"></script>

</body>
</html>